body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

header {
    background-color: #EEE;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

main {
    min-height: 75vh;
}

footer {
    text-align: center;
}